.footer__column-link {
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

.footer__column-link:hover {
  opacity: 60%;
}

.footer__column-link:last-child {
  margin-bottom: 16px;
}
